*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.network {
    text-align: center;
    justify-content: center;
    margin-top: 50px;

}

.result {
    justify-content: center;
    text-align: center;
    color: salmon;
    display: block;
    padding: 15px;
    position: relative;
}